@font-face {
  font-family: 'Cantarell';
  src: url('../assets/fonts/Cantarell-VF.otf') format('opentype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  margin: 10px;
}

h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Comfortaa, sans-serif;
}

header {
  position: relative;
  background-color: lightgrey;
  background-image: linear-gradient(to bottom, darkgrey, white);
}

main>nav {
  position: sticky;
  top: 10px;
  backdrop-filter: blur(10px) brightness(75%);
  padding: 10px;
  border: 1px solid white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-radius: 15px;
}

main>nav>ul {
  /* Si no le hago display table me
     inserta unos espacio en blanco
     entre los elementos. */
  /* Con table solo con webkit no pone
     los espacios. Con flex paerece que
     lo hace bien en todos.*/
  display: flex;
  /* flex-direction: column; */
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid dimgrey;
  border-radius: 15px;
  background-color: grey;
  background-image: linear-gradient(to bottom, lightgrey, grey);
  font-family: Cantarell, sans-serif;
}

main>nav>ul>li {
  flex-grow: 1;
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
}

main>nav>ul>li:first-child {
  /* border-left: 1px solid white; */
  border-radius: 15px 0 0 15px;
}

main>nav>ul>li:last-child {
  /* border-right: 1px solid white; */
  border-radius: 0 15px 15px 0;
}

main>nav>ul>li>a {
  display: block;
  color: black;
  border-left: 1px solid white;
  border-right: 1px solid black;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

main>nav>ul>li:first-child>a {
  border-radius: 15px 0 0 15px;
  border-left: none;
}

main>nav>ul>li:last-child>a {
  border-radius: 0 15px 15px 0;
  border-right: none;
}

main>nav>ul>li>a:hover {
  background-color: lightgrey;
  background-image: linear-gradient(to bottom, white, darkgrey);
  /* color: dimgrey; */
  cursor: cell;
}

main>nav>ul>li>a.selected {
  background-color: darkgrey;
  background-image: linear-gradient(to bottom, grey, darkgrey);
  color: white;
  cursor: default;
  text-shadow: 1px 1px 2px black;
}

main {
  font-family: Cantarell, sans-serif;
}

main img,
main video {
  width: 100%;
}
