@import 'background.css';

@font-face {
  font-family: 'Cantarell';
  src: url('../assets/fonts/Cantarell-VF.otf') format('opentype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  /* No le doy la posibilidad de wrap porque en tamaños muy reducidos
     falla. Se lo pongo en media query para tamaños superiores. */
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Comfortaa, sans-serif;
}

header {
  background-color: lightgrey;
  background-image: linear-gradient(to bottom, darkgrey, white);
}

nav,
main,
footer {
  margin: 10px;
  font-family: Cantarell, sans-serif;
}

main {
  padding: 10px;
  /* border: 1px solid white; */
  border-radius: 15px;
  backdrop-filter: blur(30px) brightness(70%);
  text-shadow: 1px 1px 2px black;
  color: white;
}

main img,
main video {
  width: 100%;
}

nav {
  position: sticky;
  top: 10px;
  padding: 10px;
  /* border: 1px solid white; */
  border-radius: 15px;
  backdrop-filter: blur(30px) brightness(70%);
  z-index: 1;
}

nav>ul {
  /* Si no le hago display table me
     inserta unos espacio en blanco
     entre los elementos. */
  /* Con table solo con webkit no pone
     los espacios. Con flex paerece que
     lo hace bien en todos.*/
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
  /* border: 1px solid dimgrey; */
  border-radius: 15px;
  list-style: none;
}

nav>ul>li {
  flex-grow: 1;
}

nav>ul>li>a {
  display: block;
  padding: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 2px white;
  color: black;
  background-image: linear-gradient(to bottom, rgba(211, 211, 211, 0.7), rgba(128, 128, 128, 0.7));
}

nav>ul>li:first-child>a {
  border-left: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

nav>ul>li:last-child>a {
  border-right: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav>ul>li>a:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(169, 169, 169, 0.4));
  cursor: cell;
}

nav>ul>li>a.selected {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(169, 169, 169, 0.5));
  color: white;
  text-shadow: 1px 1px 2px black;
  cursor: default;
}

footer {
  position: sticky;
  bottom: 5px;
  padding: 5px;
  /* border: 1px solid white; */
  border-radius: 10px;
  backdrop-filter: blur(30px) brightness(70%);
  font-size: 0.8em;
  text-shadow: 1px 1px 2px black;
  color: white;
}

footer>p {
  margin: 0;
  padding: 2px;
  /* border: 1px solid dimgrey; */
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(211, 211, 211, 0.7), rgba(128, 128, 128, 0.7));
}

@media screen and (min-width: 768px) {
  body {
    flex-flow: row wrap;
    align-items: flex-start;
  }

  header,
  footer {
    width: 100%;
  }

  main {
    flex-grow: 1;
    width: calc(100% - 240px);
  }

  nav {
    width: 200px;
  }

  nav>ul {
    flex-direction: column;
  }

  nav>ul>li>a {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 0;
    border-right: 0;
  }

  nav>ul>li:first-child>a {
    border-top: none;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  nav>ul>li:last-child>a {
    border-bottom: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
  }
}
